@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&family=Inter:wght@100&display=swap");
/* font-family: 'Inter Tight', sans-serif; */

/* CSS RESET */

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

body,
nav,
button {
  font-family: "Inter Tight", sans-serif;
}

p {
  margin: 5px 0px;
}

/* NAV BAR */

nav {
  background-color: #d7d732;
  height: 100px;
  padding: 0px 3%;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 100px;
}

#nav-left {
  flex-grow: 1;
}

#nav-right {
  gap: 15px;
  padding: 0px 10px;
}

.navLink {
  font-weight: 500;
}

/* FOOTER */

footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #544f4d;
  position: absolute;
  bottom: 0;
  justify-self: flex-end;
}

footer h3 {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 25px;
}

/* UTILITIES */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #544f4d;
}

::-webkit-scrollbar-thumb {
  margin: 4px;
  background: #d7d732;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
}

.btn-hollow {
  background-color: transparent;
  color: #544f4d;
}

.btn-hollow:hover {
  background-color: rgb(84, 79, 77, 0.7);
  color: #fff;
}

.btn-filled {
  background-color: #544f4d;
  color: #fff;
}

.btn-filled:hover {
  background-color: rgb(239, 82, 65);
  color: #544f4d;
}

#locationDetector {
  height: fit-content;
  margin: 0px;
  cursor: pointer;
}

#signInForm,
#signUpForm {
  display: none;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  backdrop-filter: blur(5px);
}

.form-content {
  background-color: #fff;
  padding: 10px 30px 30px 30px;
  align-items: center;
  width: 30%;
  min-width: 250px;
  border: 15px solid;
  border-image: linear-gradient(45deg, #544f4d, #ef5241) 1;
}

.close-form {
  width: 100%;
  flex-direction: row-reverse;
}

.close-form p {
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  background-color: #fff;
  color: #ef5241;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 25px;
}

.close-form p:hover {
  background-color: #ef5241;
  color: #fff;
  border: 1px solid black;
}

.form-content img {
  min-width: 150px;
  width: 50%;
}

.form-title p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}

.form-row {
  margin: 7px 0px;
  width: 90%;
  min-width: 100px;
  justify-content: space-between;
}

.form-row label {
  margin: 0px 0px 5px 15px;
  font-weight: 500;
}

.form-row input,
.form-row select,
.form-row option {
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 25px;
}

.form-row input:focus,
.form-row select:focus,
.form-row option:focus {
  transition: 0.3s;
  outline: none;
  border: 5px solid #d7d732;
}

.form-row-double {
  gap: 10px;
}

.formBtn {
  margin-top: 20px;
}

/* Login Page Content */
#signIn:hover,
#signUp:hover {
  cursor: url("../assets/redHeartCursor.png"), auto;
}

#login-content {
  height: auto; /* Height of page minus heigh of nav + footer */
  padding: 5% 10%;
  gap: 4%;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

#login-content img {
  min-height: 400px;
  min-width: 600px;
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 700px;
}

#login-content-txt {
  padding: 20px 0px;
  height: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 600px;
  gap: 50px;
}

#login-content-txt-title {
  font-weight: 600;
  font-size: 32px;
  color: #ef5241;
}

/* Landing Page Content */
.landing-section {
  min-height: 250px;
  width: 90%;
  background-color: #ef5241;
  justify-self: center;
  align-self: center;
  margin: 2% 0px;
  padding: 15px 35px;
  box-sizing: border-box;
  border-radius: 25px;
}

.section-label {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
}

.user-cards {
  background-image: linear-gradient(#ef5241, #544f4d);
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding: 10px 15px;
  box-sizing: border-box;
  gap: 10px;
}

.user-card {
  background-color: #fff;
  min-width: 200px;
  width: fit-content;
  max-width: 250px;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
}

.user-card img {
  max-width: 200px;
  width: 90%;
  margin-bottom: auto;
}

.user-card-name,
.user-card-age,
.user-card-interests,
.user-card-bio,
.user-card-location {
  width: 95%;
  text-align: left !important;
}

.user-card-name {
  font-weight: 500;
  font-size: 18px;
}

.user-card-age {
  font-size: 14px;
}

.user-card-interests,
.user-card-bio {
  font-size: 16px;
}

.user-card-controls {
  width: 90%;
  justify-content: space-between;
  font-size: 24px;
}

.user-card-controls div {
  margin: 0px;
  line-height: normal;
}

.user-card-controls div:hover {
  cursor: pointer;
}

.user-card-controls div:hover:first-child {
  color: #ef5241;
}

/* Edit Profile Content */

#editProf {
  width: 100%;
  height: fit-content;
  padding: 2% 6%;
  box-sizing: border-box;
  align-items: center;
}

#editProf .section-label {
  color: #544f4d;
}

#editProfProfImg {
  min-height: 200px;
  max-height: 300px;
}

#editProfInputs {
  min-width: 400px;
  width: 90%;
  justify-content: space-between;
  height: fit-content;
}

.editProfCol {
  min-width: 40%;
  width: 100%;
  gap: 20px;
  align-items: center;
}

#editProfSubmit {
  margin: 40px 50px;
}

/* Favorites */

@media only screen and (max-width: 600px) {
  nav img {
    display: none;
  }

  #nav-right {
    flex-grow: 1;
    justify-content: flex-end;
  }

  #editProfInputs {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  #login-content {
    flex-direction: column;
    padding: 10% 10%;
  }

  #login-content img {
    min-height: 200px;
    min-width: 300px;
    height: 100%;
    width: 100%;
    max-height: 250px;
    max-width: 400px;
  }

  #login-content-txt {
    width: fit-content;
  }

  .btn {
    padding: 5px 10px;
    font-size: 16px;
  }

  .form-content {
    padding: 10px 20px 30px 20px;
    width: 80%;
  }
}
